.modal{
    max-width: 1000px !important;
    height: 100%;
    background-color: #3D4345 !important;
    font-family: 'Michroma';
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 6%;
}

.codebox{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #161616;
    border: 1px solid #00FFB2;
    color: white;
    border-radius: 10px;
    overflow: hidden;
}

.codeboxHeader{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    color: #00FFB2;
    border-bottom: 1px solid #00FFB2;
}

.header{
    color: white;
    text-align: center;
}

.learnbox{
    padding: 30px;
    padding-bottom: 2px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #00FFB2;
    justify-content: flex-start;
    height: 100%;
    overflow: hidden;
}

.textarea{
    color: #00FFB2 !important;
    background-color: rgba(0, 255, 178, 0.04);
    border-radius: 10px;
    padding: 33px;
    z-index: 5;
    position: absolute;
    top: 170px;
    width: 891px;
    height: 100%;
}

.textarea:first-line{
    color: #00FFB2;
}

.textarea2{
    color: white !important;
    background-color: rgba(0, 255, 178, 0.04);
    border-radius: 10px;
    padding: 33px;
    width: 100%;
    height: 100%;
    /* position: absolute;
    top: 170px;
    width: 891px; */
    z-index: 2;
}

.footer{
    justify-content: space-around !important;
}

.closeBtn{
    background-color: black;
    color: #00FFB2;
    border: 1px solid #00FFB2;
    border-radius: 50% !important;
    box-shadow: 0px 0px 4px #00ffb380;
}

.buttons > button{
    background: rgb(41,75,65);
    background: linear-gradient(216deg, rgba(41,75,65,1) 0%, rgba(22,22,22,1) 100%);
    color: white;
    box-shadow: 1px 4px 7px 1px #00ffb31e;
    border: 1px solid #00FFB2;
    border-radius: 3px !important;
    transform: matrix(0.99, 0, -0.12, 1, 0, 0);
}