.wrapper{
    display: flex;
    justify-content: center;
}

.wrapper > button {
    font-family: "Monument";
    background-color: #00FFB2;
    border: 1px solid black;
    margin-top: 5px;
    box-shadow: 4px 4px 8px #888888;
}

.wrapperContent {
    background-color: #141414 !important;
    min-width: 600px;
    min-height: 800px;
}

.wrapperContent > button {
    color: black;
    background-color: #00FFB2;
    border: 1px solid black;
    box-shadow: 4px 4px 8px #888888;
}

.wrapperContent > button:hover {
    background-color: white;
    color: black;
}

.wrapperContent > header {
    font-family: "Monument" !important;
    font-size: 30px;
    color: #00FFB2;
    margin-top: 5px;
}

.wrapperFooter > button{
    font-family: "Monument";
    background-color: #00FFB2;
    border: 1px solid black;
    margin-top: 5px;
    box-shadow: 4px 4px 8px #888888;   
}